@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: paleturquoise; */
  font-family: "Playfair Display", serif;
}

#app {
  background-color: #efebe9;
  height: 100%;
}

#app-bar {
  background-color: #bdb9b7;
}

.logo {
  font-family: "Abril Fatface", cursive;
}

#main {
  height: 500px;
}
